/* 
### THEME COLOURS ###
accent: #fbf8ca
base: #5e1043
background: #360827
*/


@import url(https://fonts.googleapis.com/css?family=Handlee);
@import url(https://fonts.googleapis.com/css?family=Jaldi);


body {
  background: #360827;
  color: #fbf8ca;
  font-family: Jaldi, Arial, sans-serif;
  padding: 0 0 0 0;
  margin: 0;
}

a:link, a:hover, a:active, a:visited {
  color: #fbf8ca;
}

a:hover, a:active {
  text-decoration: underline;
}

h1 {
  font-size: 56px;
  font-family: Handlee, Georgia, serif;
  text-align: center;
  margin: 0 0 30px 0;
}

#page {
  padding-top: 20px;
}

#header {
  background: #5e1043;
  color: #fbf8ca;
  width: 100%;
  padding-top: 70px;
  min-height: 300px;
}

#header h1 a {
  text-decoration: none;
  color: #fbf8ca;
}

#header h2 {
  color: #360827;
  text-align: center;
  margin: 0 auto 10px auto;
}

#header h2 a {
  color: #fbf8ca;
  text-decoration: none;
}

#header h2 a:hover {
  text-decoration: underline;
}

#header h2.button a:hover {
  background: #360827;
  color: #fbf8ca;
  box-shadow: 0 0 3px #fbf8ca;
  text-decoration: none;
}

#header h2.button a {
  color: #360827;
  display: inline-block;
  background: #fbf8ca;
  border-radius: 20px;
  padding: 5px 20px;
}

.navbar form input[type=text] {
  line-height: 2;
}

#page .btn-default {
  color: #360827;
  background: #fbf8ca;
  font-size: 18px;
}

form .btn-default {
  padding: 5px 30px;
  font-weight: bold;
}

#page .btn-default:hover,
#page .btn-default:active,
#page .btn-default:focus {
  color: #fbf8ca;
  background: #360827;
}

.alert-danger a {
  color: #360827;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  vertical-align: middle;
}

.alert-danger a:hover {
  color: #fbf8ca;
  background: #360827;
}

.alert-danger a span {
  position: relative;
  top: 3px;
}

table img {
  max-width: 50px;
}

.table>tbody>tr>td,
.table>tbody>tr>th {
  vertical-align: middle;
  font-size: 20px;
}

.table>tbody>tr>th {
  background-color: #5e1043;
}

img.pull-left + p {
  overflow: hidden;
  padding-left: 20px;
  font-size: 18px;
}

div.row + .clearfix {
  margin-top: 20px;
}

.thumbnail h3 a {
  color: #360827;
}

.breadcrumb {
  background: none;
}

.character img {
  box-shadow: 2px 2px 2px #15020e;
}

.character a + h2 {
  background: #5e1043;
  padding: 10px;
  border-radius: 0 0 20px 20px;
  margin: 0 auto 15px auto;
  position: relative;
  top: -5px;
  box-shadow: 2px 2px 2px #15020e;
}

.col-md-12.character a + h2,
.col-md-6.character a + h2 {
  width: 500px;
}

.character h2 small a {
  color: #9a6e8b;
}
