{% extends "layout.html" %}

{% block body %}
  <h2>Browse the characters</h2>

  <table class="table table-condensed">
    <tr>
      <th>#</th>
      <th>Picture</th>
      <th><a href="{{ url_for('browse', sort='name') }}"><span class="glyphicon glyphicon-sort"
      aria-hidden="true"></span></a> Name</th>
      <th><a href="{{ url_for('browse', sort='films') }}"><span class="glyphicon glyphicon-sort"
      aria-hidden="true"></span></a> Films</th>
    </tr>
  {% for character in collection %}
    <tr>
      <td>{{ character.id }}</td>
      <td><img class="img-circle" src="{{
      url_for('static', filename= character.picture) }}" alt="{{ character.name
      }}" /></td>
      <td>{{ character.name }}</td>
      <td>{{ character.films }}</td>
    </tr>
  {% endfor %}
  </table>

{% endblock %}
