{% extends "layout.html" %}

{% block body %}
  <h2>Browse the characters</h2>

  <table class="table table-condensed">
    <tr>
      <th>#</th>
      <th>Picture</th>
      <th>
        {% if order == 'ASC' %}
        <a href="{{ url_for('browse', sort='name', order='DESC') }}">
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></a> 
        {% else %}
        <a href="{{ url_for('browse', sort='name', order='ASC') }}">
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></a> 
        {% endif %}
      
        Name</th>
      <th> 
        {% if order == 'ASC' %}
        <a href="{{ url_for('browse', sort='films', order='DESC') }}">
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></a> 
        {% else %}
        <a href="{{ url_for('browse', sort='films', order='ASC') }}">
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></a> 
        {% endif %}
      
      Films</th>
    </tr>
  {% for character in collection %}
    <tr>
      <td>{{ character.id }}</td>
      <td><img class="img-circle" src="{{
      url_for('static', filename= character.picture) }}" alt="{{ character.name
      }}" /></td>
      <td><a href="{{ url_for('character', id=character.id) }}">{{ character.name }}</a></td>
      <td><a href="{{ url_for('film', name=character.films) }}">{{
      character.films }}</a></td>
    </tr>
  {% endfor %}
  </table>

{% endblock %}
