{% extends "layout.html" %}

{% block body %}
  <h2>Browse the characters</h2>


  <div class="search pull-right">
    <form class="form-inline" method="post" action="{{ url_for('browse') }}">
      <div class="form-group">
        <label for="search">Search</label>
        <input type="text" name="search" id="search" class="form-control"
        placeholder="Type something..." />
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
  </div>

  {% if search %}
    <div class="results pull-left">
    <p>Results for <strong>{{ search }}</strong> (<a href="{{ url_for('browse')
    }}">Remove</a>)</p>
    {% if results == "nothing" %}
      <p>No results.</p>
    {% endif %}
    </div>
  {% endif %}

  <table class="table table-condensed">
    <tr>
      <th class="text-center">#</th>
      <th>Picture</th>
      <th>
        {% if order == 'ASC' %}
        <a href="{{ url_for('browse', sort='name', order='DESC') }}">
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></a> 
        {% else %}
        <a href="{{ url_for('browse', sort='name', order='ASC') }}">
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></a> 
        {% endif %}
      
        Name</th>
      <th> 
        {% if order == 'ASC' %}
        <a href="{{ url_for('browse', sort='films', order='DESC') }}">
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></a> 
        {% else %}
        <a href="{{ url_for('browse', sort='films', order='ASC') }}">
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></a> 
        {% endif %}
      
      Films</th>
      <th class="text-center">        
        {% if order == 'ASC' %}
        <a href="{{ url_for('browse', sort='score', order='DESC') }}">
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></a> 
        {% else %}
        <a href="{{ url_for('browse', sort='score', order='ASC') }}">
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></a> 
        {% endif %}

        Score
        </th>
        <th class="text-center">
           {% if order == 'ASC' %}
        <a href="{{ url_for('browse', sort='matches', order='DESC') }}">
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></a> 
        {% else %}
        <a href="{{ url_for('browse', sort='matches', order='ASC') }}">
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></a> 
        {% endif %}
        Matches</th>
        <th class="text-center">
                {% if order == 'ASC' %}
        <a href="{{ url_for('browse', sort='wins', order='DESC') }}">
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></a> 
        {% else %}
        <a href="{{ url_for('browse', sort='wins', order='ASC') }}">
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></a> 
        {% endif %}
        Wins</th>
    </tr>
  {% for character in collection %}
    <tr>
      <td class="text-center">{{ character.id }}</td>
      <td><a href="{{ url_for('character', id=character.id) }}">
      <img class="img-circle" src="{{ url_for('static', filename=character.picture) }}" alt="{{ character.name }}" /></a></td>
      <td><a href="{{ url_for('character', id=character.id) }}">{{ character.name }}</a></td>
      <td><a href="{{ url_for('film', name=character.films) }}">{{
      character.films }}</a></td>
      <td class="text-center">{{ character.score }}</td>
      <td class="text-center">{{ character.matches }}</td>
      <td class="text-center">{{ character.wins }}</td>
    </tr>
  {% endfor %}
  </table>

{% endblock %}
