{% extends "layout.html" %}

{% block body %}
   
  <div id="film" class="clearfix">
   
    <h2>{{ filmname }}</h2>

  {% if characters %}
 
    {% for c in characters %}
        <div class="col-md-3">
          <div class="thumbnail">
            <img src="{{ url_for('static',filename=pictures[c.id]) }}" alt="{{
            c.name }}" />
            <h3 class="text-center"><a href="{{ url_for('character', id=c.id)
            }}">{{ c.name }}</a></h3>
          </div>
        </div>
    {% endfor %}

  {% else %}
    <p class="alert alert-info">No character so far.</p>
  {% endif %}

{% endblock %}
