{% extends "layout.html" %}

{% block body %}

  {% if winner %}
    <p>The winner was: {{ winner.name }}. New score: {{ winner.score }}<p>
  {% endif %}

  <div class="row">
    <div class="col-md-5">
        <img class="img-responsive img-rounded center-block" src="{{
        url_for('static', filename=players[0].picture) }}" alt="{{
        players[0].name }}" />
        <h2 class="text-center">{{ players[0].name }}</h2>
        
        <form method="post" action="{{ url_for('match') }}" class="match_form">
          <input type="hidden" value="1" name="choice" />
          <input type="submit" value="Vote for {{ players[0].name }}" class="btn btn-default" />
        </form>
    
    </div>
    <div class="col-md-2">
      <p class="text-center versus">VS</p>
    </div>
    <div class="col-md-5">
        <img class="img-responsive img-rounded center-block" src="{{
        url_for('static', filename=players[1].picture) }}" alt="{{
        players[1].name }}" />
        <h2 class="text-center">{{ players[1].name }}</h2>
    
        <form method="post" action="{{ url_for('match') }}" class="match_form">
          <input type="hidden" value="2" name="choice" />
          <input type="submit" value="Vote for {{ players[1].name }}" class="btn btn-default" />
        </form>
    
    </div>
  </div>

{% endblock %}
