{% extends "layout.html" %}

{% block body %}
  
  <h2>Top 10</h2>

  {% for character in top %}
      <div class="row">
        <div class="col-md-4">
          <img class="img-rounded img-responsive center-block" src="{{ url_for('static', filename=character.picture) }}" alt="{{ character.name }}" />
        </div>
        <div class="col-md-8">
          <h2>{{ character.name }}</h2>
          <p>Films: {{ character.films }}</p>
          <p>{{ character.description }}</p>
        </div>
      </div>
      </li>
    {% else %}
      <p>No character so far.</p> 
      {% if session.logged_in %}
      <p><a class="btn btn-default" href="{{ url_for('add_character') }}">
      <strong>Add a character</a></strong></p>
      {% endif %}
    {% endfor %}

{% endblock %}
